
<div class="row-fluid">
  <div class="span4">
    <h2>1. Signup</h2>
    <p>
    First you signup just like normal. Your browser runs a bit of javascript and does not transfer your password but some validator based on it.
    </p>
    <% if @user.login %>
      <p> You are signed up as <%= @user.login %>
      <% if @user.active %>
        <p> You are logged in.
      <% end %>
    <% end %>
    <a href="signup" class="btn btn-primary btn-large" id="signup">
      Signup now...
    </a>
  </div>
  <div class="span4">
    <h2>2. Login</h2>
    <p>
    Login using the same credentials. Again javascript is used to calculate a random number and a key based on it that the server then uses to validate your password.
    </p>
    <a href="login" class="btn btn-large" id="login">
      Login
    </a>
  </div>
  <div class="span4">
    <h2>3. Verify</h2>
    <p>
    The server logs will tell you your password was not transmitted in clear. Never the less the server can determine wether you were authorized.
    </p>
  </div>
</div>


