
<h2>1. Signup</h2>
<form class="form-horizontal" action="/signup" method="POST">
  <legend>Signup to test secure remote passwords</legend>
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <input type="text" class"input-xlarge" name="login"></input>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <input type="password" class"input-xlarge" name="password"></input>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Signup</button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>

