<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Secure remote password</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="example.css" />
</head>
<body>

  <div class="container">

    <div class="row-fluid">
      <div class="hero-unit span12">
        <h1>Secure Remote Passwords</h1>
        <p>
        Login with a password hidden from the server and anyone eavesdropping.
        </p>
      </div>
    </div>

    <%= yield %>

    <script type="text/javascript" src="jquery.min.js"> </script>
<!--    <script type="text/javascript" src="srp.min.js"> </script>
<script type="text/javascript" src="srp_register.min.js"> </script> -->

    <script type="text/javascript" src="srp_js/lib/SHA256.js"> </script>
    <script type="text/javascript" src="srp_js/lib/prng4.js"> </script>
    <script type="text/javascript" src="srp_js/lib/rng.js"> </script>
    <script type="text/javascript" src="srp_js/lib/jsbn.js"> </script>
    <script type="text/javascript" src="srp_js/lib/jsbn2.js"> </script>
    <script type="text/javascript" src="srp_js/src/srp.js"> </script>
    <script type="text/javascript" src="srp_js/src/srp_account.js"> </script>
    <script type="text/javascript" src="srp_js/src/srp_calculate.js"> </script>
    <script type="text/javascript" src="srp_js/src/srp_session.js"> </script>
    <script type="text/javascript" src="srp_js/src/jqueryRest.js"> </script>
    <script type="text/javascript" src="srp.js"> </script>

  </body>
</html>
