<h2>2. Login</h2>
<form class="form-horizontal" action="/login" method="POST">
  <legend>Login with the user you <a href="/signup">created</a>.</legend>
  <div class="control-group">
    <label class="control-label" for="srp_username">Login</label>
    <input type="text" class="input-xlarge" id="srp_username" name="srp_username"></input>
  </div>

  <div class="control-group">
    <label class="control-label" for="srp_password">Password</label>
    <input type="password" class="input-xlarge" id="srp_password" name="srp_password"></input>
  </div>
  <input type="hidden" id="srp_url" name="srp_url" value="/"></input>
  <input type="hidden" id="srp_server" name="srp_server" value="django"></input>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>
