
<h2>1. Signup</h2>
<form class="form-horizontal" action="/register/user" method="POST">
  <legend>Signup to test secure remote passwords</legend>
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <input type="text" class"input-xlarge" name="srp_username" id="srp_username"></input>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <input type="password" class"input-xlarge" name="srp_password" id="srp_password"></input>
  </div>

  <input type="hidden" id="srp_url" name="srp_url" value="/"></input>
  <input type="hidden" id="srp_server" name="srp_server" value="django"></input>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" id="signup-btn">Signup</button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>

